@import "../constants";

.mainContainer {
  display: flex;
  flex-direction: column;
  column-gap: 6px;
  row-gap: 8px;
  margin: 30px 0 25px 0;
  align-items: center;
  font-size: x-large;

  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
  }

  .input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid $border-medium;
    transition: border-color 0.3s;
    font-size: large;
    background-color: $main-surface-tertiary;
    color: $text-secondary;
    border-radius: 8px;
  }
}
