@import "../constants";

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.playersContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.playerContainer {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 20% auto 20%;
  align-items: center;
  column-gap: 20px;
  font-size: x-large;
  border-bottom: 3px solid $border-light;
  padding-bottom: 20px;
  max-width: 100vw;
}
.playerData {
  display: flex;
  flex-direction: column;
  font-size: large;

  @media (max-width: 400px) {
    width: 100%;
  }

  input {
    padding: 10px;
    transition: border-color 0.3s;
    font-size: large;
    background-color: $main-surface-tertiary;
    color: $text-secondary;
    @media (max-width: 400px) {
      max-width: 140px;
    }
  }
}
