@use "sass:list";
@use "./variables" as *;

:root {
  @each $name, $value in $font-sizes {
    --ds-font-size-#{$name}: #{list.nth($value, 1) * 1px};
    --ds-line-height-#{$name}: #{list.nth($value, 2) * 1px};
  }

  @each $name, $weight in $font-weights {
    --ds-font-weight-#{$name}: #{$weight};
  }

  @each $name, $elevation in $elevations {
    --ds-elevation-#{$name}: #{$elevation};
  }

  @each $name, $color in $colors {
    --ds-color-#{$name}: #{$color};
  }

  --ds-border-radius: 16px;
  --ds-spacing: 4px;

  --ds-control-padding: 12px;
  --ds-control-icon-size: 1.5em;

  --ds-font-family: "Inter", sans-serif;

  --ds-max-width: 1200px;
}
