a {
  color: var(--ds-color-primary);
}

input {
  &::placeholder {
    color: var(--ds-color-outline);
  }
}

h1,
.ds-text-3xl {
  font-size: var(--ds-font-size-3xl);
  line-height: var(--ds-line-height-3xl);
}

h2,
.ds-text-2xl {
  font-size: var(--ds-font-size-2xl);
  line-height: var(--ds-line-height-2xl);
}

h3,
.ds-text-xl {
  font-size: var(--ds-font-size-xl);
  line-height: var(--ds-line-height-xl);
}

.ds-text-l {
  font-size: var(--ds-font-size-l);
  line-height: var(--ds-line-height-l);
}

body,
.ds-text-base {
  font-size: var(--ds-font-size-base);
  line-height: var(--ds-line-height-base);
}

.ds-text-s {
  font-size: var(--ds-font-size-s);
  line-height: var(--ds-line-height-s);
}

.ds-text-xs {
  font-size: var(--ds-font-size-xs);
  line-height: var(--ds-line-height-xs);
}

b,
.ds-text-bold {
  font-weight: var(--ds-font-weight-bold);
}
