$text-primary: var(--gray-50);
$text-secondary: var(--gray-300);
$text-tertiary: var(--gray-500);
$text-quaternary: var(--gray-700);
$border-light: rgba(217, 217, 227, 0.1);
$border-medium: rgba(217, 217, 227, 0.15);
$border-heavy: rgba(217, 217, 227, 0.2);
$border-xheavy: rgba(217, 217, 227, 0.25);
$main-surface-primary: var(--gray-900);
$main-surface-secondary: var(--gray-850);
$main-surface-tertiary: var(--gray-800);
$sidebar-surface-primary: var(--gray-950);
$sidebar-surface-secondary: var(--gray-850);
$sidebar-surface-tertiary: var(--gray-800);
$popover-surface-primary: var(--gray-900);
$link: #7ab7ff;
$link-hover: #5e83b3;
