:root {
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #ececec;
  --gray-200: #e3e3e3;
  --gray-300: #cdcdcd;
  --gray-400: #b4b4b4;
  --gray-500: #9b9b9b;
  --gray-600: #676767;
  --gray-700: #4e4e4e;
  --gray-800: #333;
  --gray-850: #262626;
  --gray-900: #171717;
  --gray-950: #0d0d0d;
  --brand-purple: #ab68ff;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--gray-850);
}
#root {
  direction: rtl;
  height: 100%;
}
div {
  white-space: pre-wrap;
}

ul {
  margin: 0;
  padding: 0;
}
